<h1>Palindromes#input</h1>
<p>Find me in app/views/palindromes/input.html.erb</p>
<%= form_tag("/palindromes/view", :method => "get") do %>
  <%= label_tag("Max number:") %>
  <%= text_field_tag(:n) %> <br/>
  <br/>
  <%= submit_tag("Calc result") %>
<% end %>
<%= button_to 'Выйти', sessions_destroy_path, method: 'get' %>
